:root {
  --lightColor: #fff;
  --redColor: #ff6200;
  --darkRedColor: #b35c30;
  --bgColor: #5d594e;
  --bgColorLight: #5d594e7c;
  --bgColorDark: #43463f;
  --bgMaskDark:#43463f;
  --bgShopping: #5d594e;
  --bgFooter: #4a4a4a;
  --bgShoppingCard: rgba(74, 74, 74, 0.63);
  --bgBookCardPage: rgba(225, 225, 225, 0.1);
  --firstFont:"Nunito", sans-serif;
  --secondFont:"Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--lightColor);
}

body {
  background-color: var(--bgColorLight);
}

.wrapper {
  max-width: 1440px;
  width: calc(100vw - 16px);
  margin: 0 auto;
  overflow: hidden;
}

.table {
  padding: 40px 67px 60px;
  background-color: var(--bgMaskDark);
}

.book-item {
  width: 395px;
  border: none;
  display: flex;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: var(--bgShopping);
  cursor: pointer;
}
.book-item > a {
  display: inline-block;
  width: 100%;
}

.book-item:hover {
  box-shadow: 0 0 6px var(--darkRedColor);
}

.book-data {
  margin: 45px 10px 25px 15px;
}

.book-subdata {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.manga-pic {
  width: 148px;
}

.manga-type {
  font-family: var(--firstFont);
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.4);
}

.manga-name {
  margin-bottom: 10px;
  font-family: var(--firstFont);
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.02em;
}

.manga-genre,
.manga-look {
  font-family: var(--firstFont);
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.4);
}

.manga-renting {
  font-family: var(--firstFont);
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.02em;
}

.nav {
  margin: 0 auto;
  padding: 12px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #323232;
  border: none;
  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
}
.nav-logo {
  margin-left: 20px;
  font-family: var(--secondFont);
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: -0.02em;
}
.nav-btn {
  display: flex;
}

.menu {
  display: flex;
  gap: 14px;
}
.menu-item {
  font-family: var(--firstFont);
  font-weight: 600;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: -0.01em;
  text-align: center;
}
.menu-item:hover {
  color: var(--darkRedColor);
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.enter,
.registration {
  padding: 10px 32px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  font-family: var(--secondFont);
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.enter {
  background-color: #323232;
  border: 2px solid #fff;
}

.enter:hover {
  color: var(--darkRedColor);
  border: 2px solid var(--darkRedColor);
}

.registration {
  background-color: #fff;
  border: none;
  color: var(--redColor);
}

.registration:hover {
  color: var(--darkRedColor);
}

.genres-title {
  margin: 40px 0;
  padding: 15px 0 15px 42px;
  font-family: var(--firstFont);
  font-weight: 900;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--darkRedColor);
  border: none;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  background: linear-gradient(90deg, #fff 0%, #43463f 74.04%);
}

.genres-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 76px;
}

.genres-item {
  position: relative;
  width: 300px;
  height: 300px;
}
.genres-item > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.genres-item .genres-btn {
  padding: 15px 0;
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 20px;
  font-family: var(--firstFont);
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  backdrop-filter: blur(4px);
  background: rgba(179, 92, 48, 0.8);
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.genre-description {
  display: inline-block;
  padding: 25px 25px 25px 57px;
  margin-bottom: 25px;
  border: none;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  background-color: var(--bgShopping);
  font-family: var(--firstFont);
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.02em;
}

.genre-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}/*# sourceMappingURL=genres.css.map */