:root {
  --lightColor: #fff;
  --redColor: #ff6200;
  --darkRedColor: #b35c30;
  --bgColor: #5d594e;
  --bgColorLight: #5d594e7c;
  --bgColorDark: #43463f;
  --bgMaskDark:#43463f;
  --bgShopping: #5d594e;
  --bgFooter: #4a4a4a;
  --bgShoppingCard: rgba(74, 74, 74, 0.63);
  --bgBookCardPage: rgba(225, 225, 225, 0.1);
  --firstFont:"Nunito", sans-serif;
  --secondFont:"Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--lightColor);
}

body {
  background-color: var(--bgColorLight);
}

.wrapper {
  max-width: 1440px;
  width: calc(100vw - 16px);
  margin: 0 auto;
  overflow: hidden;
}

.table {
  padding: 40px 67px 60px;
  background-color: var(--bgMaskDark);
}

.book-item {
  width: 395px;
  border: none;
  display: flex;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: var(--bgShopping);
  cursor: pointer;
}
.book-item > a {
  display: inline-block;
  width: 100%;
}

.book-item:hover {
  box-shadow: 0 0 6px var(--darkRedColor);
}

.book-data {
  margin: 45px 10px 25px 15px;
}

.book-subdata {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.manga-pic {
  width: 148px;
}

.manga-type {
  font-family: var(--firstFont);
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.4);
}

.manga-name {
  margin-bottom: 10px;
  font-family: var(--firstFont);
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.02em;
}

.manga-genre,
.manga-look {
  font-family: var(--firstFont);
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.4);
}

.manga-renting {
  font-family: var(--firstFont);
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.02em;
}

.nav {
  margin: 0 auto;
  padding: 12px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #323232;
  border: none;
  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
}
.nav-logo {
  margin-left: 20px;
  font-family: var(--secondFont);
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: -0.02em;
}
.nav-btn {
  display: flex;
}

.menu {
  display: flex;
  gap: 14px;
}
.menu-item {
  font-family: var(--firstFont);
  font-weight: 600;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: -0.01em;
  text-align: center;
}
.menu-item:hover {
  color: var(--darkRedColor);
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.enter,
.registration {
  padding: 10px 32px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  font-family: var(--secondFont);
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.enter {
  background-color: #323232;
  border: 2px solid #fff;
}

.enter:hover {
  color: var(--darkRedColor);
  border: 2px solid var(--darkRedColor);
}

.registration {
  background-color: #fff;
  border: none;
  color: var(--redColor);
}

.registration:hover {
  color: var(--darkRedColor);
}

.book-card {
  margin-top: 139px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
}

.page-item {
  display: none;
}
.page-item__active {
  display: block;
}

.control-manga {
  width: 310px;
  display: flex;
  flex-direction: column;
}
.control-manga > img {
  width: 100%;
  margin-bottom: 24px;
}
.control-manga-btn {
  border: none;
  border-radius: 60px;
  padding: 16px 0;
  width: 100%;
  margin-bottom: 24px;
  cursor: pointer;
  font-family: var(--firstFont);
  font-weight: 900;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--darkRedColor);
}
.control-manga-btn:hover {
  box-shadow: -3px 3px 8px var(--darkRedColor);
}
.control-manga-btn__slim {
  border: 2px solid #fff;
  padding: 8px 0;
}
.control-manga-btn__dark {
  background-color: var(--bgMaskDark);
  color: #fff;
}

.data-manga {
  width: 750px;
}

.data-manga > p {
  margin: 0 0 22px 42px;
  font-family: var(--secondFont);
  font-weight: 400;
  font-size: 20px;
}

.data-manga-title {
  padding: 15px 0 15px 42px;
  font-family: var(--firstFont);
  font-weight: 900;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--darkRedColor);
  border: none;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  background: linear-gradient(90deg, #fff 0%, #43463f 74.04%);
}

.statistic-block {
  margin: 10px 0 22px 42px;
  display: flex;
  gap: 22px;
}
.statistic-block > p {
  font-family: var(--secondFont);
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.02em;
}

.page-control-block {
  margin-left: 42px;
  padding: 10px;
  margin-bottom: 16px;
  border: none;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 33px;
  background-color: var(--lightColor);
}

.control-item {
  font-family: var(--secondFont);
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: var(--darkRedColor);
  cursor: pointer;
}
.control-item__active {
  padding: 3px 12px;
  border: none;
  color: var(--secondFont);
  border-radius: 60px;
  background-color: var(--darkRedColor);
}

.analog {
  width: 220px;
}
.analog > h3 {
  margin-bottom: 22px;
  font-family: var(--secondFont);
  font-weight: 400;
  font-size: 20px;
}
.analog-block {
  cursor: pointer;
}
.analog-item {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.analog-item:hover {
  background-color: rgb(141, 128, 128);
}
.analog-item > img {
  width: 65px;
}
.analog-item > h4 {
  margin-top: 12px;
  font-family: var(--firstFont);
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.02em;
}

.description {
  border: none;
  border-radius: 30px;
  padding: 12px 35px 35px 35px;
  margin-bottom: 16px;
  background-color: var(--bgBookCardPage);
}
.description-text {
  font-family: var(--firstFont);
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.description-text__all {
  -webkit-line-clamp: 100;
}

.information {
  border: none;
  border-radius: 30px;
  padding: 12px 35px 35px 35px;
  margin-bottom: 16px;
  background-color: var(--bgBookCardPage);
}
.information-title {
  margin-bottom: 16px;
  font-family: var(--firstFont);
  font-weight: 900;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.information-key {
  margin-bottom: 11px;
  font-family: var(--firstFont);
  font-weight: 700;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}
.information-meaning {
  font-weight: 400;
}
.information-meaning__mod1, .information-meaning__mod3 {
  margin: 0 6px;
  padding: 2px 5px;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: var(--darkRedColor);
}
.information-meaning__mod1 {
  background-color: var(--darkRedColor);
}
.information-meaning__mod3 {
  background-color: rgba(71, 48, 48, 0.3411764706);
}
.information-meaning__mod2 {
  color: #ffcaaf;
}/*# sourceMappingURL=mangaBookCard.css.map */