.description {
	border: none;
	border-radius: 30px;
	padding: 12px 35px 35px 35px;
	margin-bottom: 16px;
	background-color: var(--bgBookCardPage);

	&-text {
		font-family: var(--firstFont);
		font-weight: 400;
		font-size: 20px;
		line-height: 110%;
		letter-spacing: -0.02em;
		text-align: justify;

		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		cursor: pointer;
	}

	&-text__all {
		-webkit-line-clamp: 100;
	}
}

.information {
	border: none;
	border-radius: 30px;
	padding: 12px 35px 35px 35px;
	margin-bottom: 16px;
	background-color: var(--bgBookCardPage);

	&-title {
		margin-bottom: 16px;
		font-family: var(--firstFont);
		font-weight: 900;
		font-size: 20px;
		line-height: 145%;
		letter-spacing: -0.01em;
		text-transform: uppercase;
	}

	&-key {
		margin-bottom: 11px;
		font-family: var(--firstFont);
		font-weight: 700;
		font-size: 20px;
		line-height: 145%;
		letter-spacing: -0.01em;
		text-transform: capitalize;
	}

	&-meaning {
		font-weight: 400;

		&__mod1,
		&__mod3 {
			margin: 0 6px;
			padding: 2px 5px;
			border: none;
			border-radius: 30px;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			-ms-border-radius: 30px;
			-o-border-radius: 30px;
			background-color: var(--darkRedColor);
}

&__mod1		{
			background-color: var(--darkRedColor);
}

		&__mod3 {
			background-color: #47303057;
		}
		&__mod2 {
			color: #ffcaaf;;
		}

	}
}
