:root {
    --lightColor: #fff;
    --redColor: #ff6200;
    --darkRedColor: #b35c30;
    --bgColor: #5d594e;
    --bgColorLight: #5d594e7c;
    --bgColorDark: #43463f;
    --bgMaskDark:#43463f;
    --bgShopping: #5d594e;
    --bgFooter: #4a4a4a;
    --bgShoppingCard: rgba(74, 74, 74, 0.63);
    --firstFont:"Nunito", sans-serif;
    --secondFont:"Inter", sans-serif;
}