:root {
    --lightColor: #fff;
    --redColor: #ff6200;
    --darkRedColor: #b35c30;
    --bgColor: #5d594e;
    --bgColorLight: #5d594e7c;
    --bgColorDark: #43463f;
    --bgMaskDark:#43463f;
    --bgShopping: #5d594e;
    --bgFooter: #4a4a4a;
    --bgShoppingCard: rgba(74, 74, 74, 0.63);
    --bgBookCardPage: rgba(225, 225, 225, 0.1);
    --bgBookReviewsPage: rgba(225, 225, 225, 0.5);
    --popup:  rgb(114 112 108 / 94%);
    


    --firstFont:"Nunito", sans-serif;
    --secondFont:"Inter", sans-serif;
}